{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Contact us</strong></h1>
        </div>
    </section>

    <section id="one" class="main style1">

        <div class="container">

            <p>If you have any question regarding the project, if you have found a bug, or simply want
                information about or offers, feel free to contact us:</p>
            <ul>
                <li>By email at bastien@treviz.xyz</li>
                <li>By twitter at @trevizxyz</li>
            </ul>

        </div>

    </section>



{% endblock %}