{% extends 'base.html.twig' %}

{% block body %}

    <section id="home-header">
        <div class="inner">
            <span class="logo">
                <img src="{{ asset('build/images/treviz-logo-circle.png') }}" alt="" />
            </span>
            <h1><strong>Treviz</strong></h1>
            <p>Join open, collaborative organizations<br />
                Work on the projects you want<br/>
                Share the benefits</p>
            <ul class="actions">
                <li><a href="#one" class="button">Discover</a></li>
                <li><a href="https://app.treviz.org" class="button">Try it out</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main style1 special">
        <div class="container">
            <header class="major">
                <h2>Embrace open and collaborative organizations</h2>
            </header>
            <p>The time for vertical organizations, ruled by a handful of people who decide the future of countless others is finally over. </p>
            <div class="row 150%">
                <div class="4u medium12u">
                    <span class="image fit"><img src="{{ asset('build/images/idea-shape.jpg') }}" alt="" /></span>
                    <h3>Valuable Projects</h3>
                    <p>Easily navigate between all the organization's projects, decide in which one you want to take
                        part, and how much time you want to invest in it. If none interests you, or if you have an idea,
                        simply start your own project, and recruit amongst the organization’s members.</p>
                    <ul class="actions">
                        <li><a href="/features/projects" class="button">More</a></li>
                    </ul>
                </div>
                <div class="4u medium12u">
                    <span class="image fit"><img src="{{ asset('build/images/group-shape.jpg') }}" alt="" /></span>
                    <h3>Take Back Control</h3>
                    <p>Customize the contract of your organization to determine how it should be ruled. Can everyone join
                        it? Who can vote to determine how the resources of the organization should be split between its
                        projects? Should delegates be appointed, and what would be their responsibilities?</p>
                    <ul class="actions">
                        <li><a href="/features/organization" class="button">More</a></li>
                    </ul>
                </div>
                <div class="4u medium12u">
                    <span class="image fit"><img src="{{ asset('build/images/ether-shape.jpg') }}" alt="" /></span>
                    <h3>Fair Rewards</h3>
                    <p>You are rewarded for your work, using a specific crypto-currency. Rewards are attached to jobs and
                        tasks: only what you do, and how important it is, should define what you earn. If the organization
                        generates benefits, they are redistributed according to each one’s work.</p>
                    <ul class="actions">
                        <li><a href="/features/rewards" class="button">More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Two -->
    <section id="two" class="main style2">
        <div class="container">
            <div class="row 150%">
                <div class="6u medium12u">
                    <ul class="major-icons">
                        <li><span class="icon style1 major fa-lightbulb-o"></span></li>
                        <li><span class="icon style2 major fa-comments"></span></li>
                        <li><span class="icon style3 major fa-list"></span></li>
                        <li><span class="icon style4 major fa-cloud-upload"></span></li>
                        <li><span class="icon style5 major fa-briefcase"></span></li>
                        <li><span class="icon style6 major fa-money"></span></li>
                    </ul>
                </div>
                <div class="6u medium12u">
                    <header class="major">
                        <h2>Change the way you consider<br />
                            collaborating on projects</h2>
                    </header>
                    <p>Treviz is an open-source web platform that helps you set up and join open, collaborative
                        organizations, in which you can work on the projects you want and get rewarded for your work.</p>
                    <p>It comes with all the tools you need to work on projects, from a brainstorming module to a kanban
                        board, a news feed, an inner chat, a cloud for documents, while allowing you to recruit new
                        members for your teams, and manage the budget of your organization.</p>
                    <p>This platform is particularly aimed at companies, administrations, schools, laboratories, NGOs
                        and, more broadly, individuals who whish to work hand-in-hand on innovative projects, but who
                        lack the framework to ensure trust, collaboration, and ownership of their work.</p>
                    <p>We can host the platform for you, so you can focus on building successful projects, instead of
                        focusing on infrastructure and security issues. This way, you will always have the latest
                        version of the platform, a professional support, while constantly knowing where your data is
                        located and who can access it.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Decide whether to explore existing organizations or create a new one -->
    <section id="three" class="main style1 special">
        <div class="container">
            <header class="major special">
                <h2>What do you want to do ?</h2>
            </header>
            <div class="row 150%">
                <div class="6u medium12u">
                    <ul class="major-icons">
                        <li><span class="icon style2 major fa-sign-in"></span></li>
                    </ul>                    <h3>I want to join an existing organization</h3>
                    <ul class="actions">
                        <li><a href="/instances" class="button">Browse the organizations</a></li>
                    </ul>
                </div>
                <div class="6u medium12u">
                    <ul class="major-icons">
                        <li><span class="icon style2 major fa-plus"></span></li>
                    </ul>
                    <h3>I want to launch my own organization</h3>
                    <ul class="actions">
                        <li><a href="#four" class="button">Explore your offers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="four" class="main style1 special">

        <div class="container">

            <div class="row 150%">
                <div class="4u medium12u">
                    <h2>Free</h2>
                    <div class="table-wrapper">
                        <table>
                            <tbody>
                            <tr><td>0€ <br />Forever free</td></tr>
                            <tr><td>Host your own instance of Treviz</td></tr>
                            <tr><td>Full access to the source code and API</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="actions">
                        <li><a href="https://doc.treviz.xyz" class="button">Explore the documentation</a></li>
                    </ul>
                </div>
                <div class="4u medium12u">
                    <h2>Standard</h2>
                    <div class="table-wrapper">
                        <table>
                            <tbody>
                            <tr><td>5€ <br />per user, per month</td></tr>
                            <tr><td>We host Treviz for you</td></tr>
                            <tr><td>250MB of files per user</td></tr>
                            <tr><td>Always benefit from the last version</td></tr>
                            <tr><td>24h e-mail support</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="actions">
                        <li><a href="/contact" class="button">Contact us</a></li>
                    </ul>
                </div>
                <div class="4u medium12u">
                    <h2>Premium</h2>
                    <table>
                        <tbody>
                        <tr><td>10€ <br />per user, per month</td></tr>
                        <tr><td>All the benefits of the Standard plan</td></tr>
                        <tr><td>SSO with OAuth 2.0 with OpenID Connect or SAML</td></tr>
                        <tr><td>2 factor authentication</td></tr>
                        <tr><td>Personalized assistance to set up Treviz in your organization</td></tr>
                        <tr><td>Up to 5GB of files per user</td></tr>
                        <tr><td>24h support by mail and telephone</td></tr>
                        </tbody>
                    </table>

                    <ul class="actions">
                        <li><a href="/contact" class="button">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

{% endblock %}