{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Privacy Notice</strong></h1>
        </div>
    </section>

    <section id="introduction" class="main style1">
        <div class="container">

            <h2>Introduction</h2>

            <p>
                Privacy is one of the key elements all our services are built around. We are not an advertising company, and we
                do not make profit from harvesting, analyzing and selling private information to any third party. We have one
                mission: to ease your everyday work and organization throughout our services, and we keep to that simple plan.
            </p>

            <p>
                The following document aims at describing the personal data we collect, why we collect it and how it is
                processed by us or third parties.
            </p>

            <p>
                In this Privacy Policy, we will refer to:
            </p>

            <ul>
                <li>Our website <a href="https://treviz.xyz">treviz.xyz</a> as the "Website"</li>
                <li>
                    Any instance of the platform <strong>hosted by us</strong>, that is to say <a href="https://app.treviz.org">app.treviz.org</a> and any
                    instance hosted at <i>domain.treviz.xyz</i> as the "Service"
                </li>
            </ul>

        </div>

        <div class="container" id="definitions">

            <h2>Definitions</h2>

            <ul>
                <li>
                    <strong>Personal Information:</strong> any information that can be used to identify someone, directly or indirectly.
                    For instance, an email, a first and last name can be used to directly identify somebody, and are considered
                    personal information. Moreover, any information that can identify someone by being cross-referenced is also
                    considered personal. Therefore, a message sent that can be linked to an email is also considered personal
                    information. In that regard, almost all information treated by our Service is considered personal.
                </li>
                <li>
                    <strong>Data Processing:</strong> Data processing is the act of treating an information, for any purpose. Collecting data
                    is considered as data processing in itself, as are the acts of storing, organizing, sending, deleting, etc.
                </li>
            </ul>

        </div>

        <div class="container" id="collected-information">
            <h2>Collected information</h2>
            <p>
                According to the rule of privacy by design, we keep the amount of personal data we collect to a minimum.
            </p>

            <h3>Information collected by the Website</h3>

            <p>
                The Website may collect the following personal information:
            </p>

            <ul>
                <li>Your name and email address</li>
                <li>Your company name and physical location</li>
                <li>Your  IP address (Internet Protocol Address, that idenitfyes a computer), Browser type and Operating System</li>
            </ul>


            <p>
                The first two type of information are collected only for accounts, and allow us to:
            </p>
            <ul>
                <li>Process your orders</li>
                <li>Grant you with customer service</li>
                <li>Send periodic emails, keep you informed of the state of your contracts</li>
            </ul>

            <p>
                Because invoices must be kept for a duration of 10 years according to the law, we may need to keep that data
                for that period of time. For accounts that were created without ending up in any invoice, we keep the information
                for a duration of a year, after what the account, and all its data, are deleted.
            </p>

            <p>
                IP Addresses, Browser types and OS names are collected to help us enhance our service by compiling statistics
                about its use. By knowing who is interested in our products, we can indeed provide translations, adapt our
                Service to specific Browsers. This  information is stored for one year, and is collected by a self-hosted
                instance of <a href="https://matomo.org">Matomo</a>, a free and open-source analytics software. We do not use cookies
                (small files that are stored in the web browser) to collect this information; we only harvest them from the
                logs our server receive.
            </p>


            <h3>Information collected by the Service</h3>

            <p>
                The Service collects some Personal Information in order to work:
            </p>

            <ul>
                <li>First Name, Last Name and Email, as well as a Username</li>
                <li>
                    Any information you are willing to give us (which include, but are not limited to: messages, documents,
                    project memberships, posts...)
                </li>
                <li>IP Address, Browser type and Operating System</li>
            </ul>

            <p>
                This information allows us to:
            </p>
            <ul>
                <li>Power the platform</li>
                <li>Send you update mails regarding its activity (candidacy and invitation changes, new posts or documents...)</li>
                <li>Enhance our services by seing what features are used, and what problems occurred</li>
            </ul>

            <p>
                We may also use your Personal Information, collected by the Website or the Service, to comply with any legal
                obligation, including the need to share any of it with the government or any regulatory when required by the law
                or in response to a legal process, obligation or request.
            </p>

        </div>

        <div class="container" id="process">
            <h2>How are your personal information stored and protected ?</h2>
            <p>
                Your personal information are kept safe by limiting as possible the number of people that can access it, and
                the amount of it that is harvested. We also keep our software up to date, to prevent any know security breach
                from being used. All information sent by the Website or the Service is encrypted and secured by SSL (Secure Socket
                Layer) technology.
            </p>

            <p>
                Currently, the only person at Treviz who is able to access all your Personal Information is Bastien Huber. He can
                be contacted at <a href="mailto:bastien@treviz.xyz">bastien@treviz.xyz</a>.
            </p>

            <p>
                The personal information stored by the Website is ony accessible by its owner, and by the persons in charge of
                handling the order. The data stored by the Service can mostly be accessed by the other members using the same
                Service.
            </p>
        </div>

        <div class="container" id="disclosure">
            <h2>Third-party disclosure</h2>
            <p>
                We do not sell any Personal Information (actually, we do not sell any information at all) to any third party.
                However, to operate our services, we rely one some of them to perform some of the processing. Indeed, the servers
                we use to store your information, and to power the Website and Service are hosted on <a href="https://ovh.com">OVH</a>, a
                French provider, and are all located in France.
            </p>
        </div>

        <div class="container" id="your-rights">
            <p>
                You can request a copy of your Personal Information. To do so:
            </p>

            <ul>
                <li>
                    In the Service, click the "Settings" icon on the navigation bar, and, in the "Account" section, click on
                    "Download an archive containing my personal data".
                </li>
                <li>
                    To fetch your personal information stored in the Website, please send us a request mail at bastien@treviz.xyz.
                </li>
            </ul>

            <p>
                You can send a mail at that same address to correct any of your Personal Information, or to delete some or all of
                it. However, you must know that deleting your information can result in the termination of your account, and
                prevent you from using our Service.
            </p>
        </div>
    </section>

{% endblock %}