{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Terms of Service</strong></h1>
        </div>
    </section>

    <section id="introduction" class="main style1">
        <div class="container">

            <p>
                Thank you for using choosing to use Treviz. The following terms and conditions govern all use of the
                Treviz "Website" (treviz.xyz) as well as the use of any hosted treviz platform (the "Service"). The
                website as well as the platform is operated by Bastien Huber.
            </p>

            <p>
                The Website and Service is offered subject to your acceptance without modification of all the terms and
                conditions hereby listed, and all other operating rules and policies (including, without limitation, our
                <a href="https://treviz.xyz/privacy-policy">Privacy Policy</a>.
            </p>

            <p>
                Please read this Agreement carefully before using the Website or the Service. You need to agree to all the
                terms and conditions of this agreement to operate an account on the Service or Website.
            </p>

        </div>

        <div class="container" id="account">
            <h2>Your Website or Service Account</h2>
            <p>
                If you create an account on the Website or the Service, you are responsible for maintaining its security, and
                for all the activities that occurred under the account. Keep your password to yourself and do not share it
                with anybody else. If it occurs to you that your account was compromised, immediately change your password and
                contact us. Treviz will not be liable for any acts or omissions by you, including any damages of any
                kind incurred as a result of such acts or omissions.
            </p>
        </div>

        <div class="container" id="responsibility-contributors">
            <h2>Responsibility of Contributors</h2>
            <p>
                You are fully responsible for the content you post online, on the Website or Service. In particular, you are
                responsible for any harm resulting from that content, regardless of whether the content constitutes text,
                graphics, sound, computer software, etc. By making this content available, you represent and warrant that:
            </p>
            <ul>
                <li>
                    the downloading, copying and use of the content will not infringe proprietary rights, including but not
                    limited to the copyright, patent, trademark or trade secret rights of any third party;
                </li>
                <li>
                    if your employer has rights to intellectual property you create, you have either (i) received permission from
                    your employer to post or make available the Content, including but not limited to any software, or (ii)
                    secured from your employer a waiver as to all rights in or to the Content;
                </li>
                <li>
                    you have fully complied with any third-party licenses relating to the Content, and have done all things
                    necessary to successfully pass through to end users any required terms;
                </li>
                <li>
                    the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or
                    destructive content;
                </li>
                <li>
                    the Content is not pornographic, does not contain threats or incite violence, and does not violate the privacy
                    or publicity rights of any third party;
                </li>
                <li>
                    the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or
                    destructive content;
                </li>
            </ul>
        </div>

        <div class="container" id="licence">
            <h2>User Content Licence</h2>
            <p>
                User contributions are licensed under a
                <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">CC BY-NC-SA 3.0</a> license. Treviz has the right
                to refuse or remove any Content that violates any Treviz policy or is in any way disrespectful or harmful,
                without having to provide a refund of any amout previously paid.
            </p>
        </div>

        <div class="container" id="payment">
            <h2>Payment and renewal</h2>
            <p>
                Paid servises are available on the Website. When using such a service, you agree to pay Treviz the monthly or
                annual subscription fee indicated. Payents will be charged on a pre-pay basis on the day you begin using the
                Service and will cover the use of that Service for the monthmy or annual subscription period as indicated.
            </p>
        </div>

        <div class="container" id="responsibility-visitors-users">
            <h2>Responsibility of Website visitors and Service users</h2>
            <p>
                Treviz cannot review all of the material that is posted on its Website or Service, including computer software, images, text or sound, and therefore cannot be responsibile for its's content, use or effect. By
                operating the Website and Service, Treviz does not not implicitly endorse the material that is posted, nor
                does it believe that such material is useful an non-harmful. You are responsible for taking precautions as
                necessary to protect yourself and your computer from viruses, worms, Trojan hroses and other harmful or
                destructive content
            </p>
        </div>

        <div class="container" id="ip">
            <h2>Intellectual Property</h2>
            <p>
                This Agreement does not transfer from Treviz to you any intellectual property. All the rights, title and
                interest will remain solely with Treviz.
            </p>
        </div>

        <div class="container" id="changes">
            <h2>Changes</h2>
            <p>
                Treviz reserves the right, at its sole discrition, to motify or replace any part of this Agreement. It is
                your responsibility to check this Agreement periodically for changes. Your continued use of or access to
                the Website or Service consitutes acceptange of any of those cahnges. Any future service made available by
                Treviz will also be subject to the terms and conditions of this Agreement.
            </p>
        </div>

        <div class="container" id="termination">
            <h2>Termination</h2>
            <p>
                Treviz may terminate your access to part or all of the Website or Service with or without cause, with or
                without prior notice, and effective immediately. If you whish to terminate this Agreement or your Website
                or Service account, please contact us.
            </p>
        </div>

        <div class="container" id="disclaimer">
            <h2>Disclaimer of warranties</h2>
            <p>
                The Website and Service are provided "as is", and are still in beta. Bugs may occur, and feature may not
                work the way they are expected. Trevize and its suppliers and licensors hereby disclaim all warranties of any
                kind, expressed or implied, including, without limitation, the warranties of merchantability, fitness for a
                particular purpose and non-infrigement. Neither Treviz nor its suppliers and licensors, make any warranty
                that the Website and Service will be error free, continuous or uninterrupted.
            </p>
        </div>

        <div class="container" id="general-representation-warranty">
            <h2>General Representation and Warranty</h2>
            <p>
                You represent and warrant that (i) your use of the Website and Service will be in strict accordance with the
                Treviz Privacy Policy with this Agreement and with all applicable laws and regulations (including without
                limitation any local laws or regulations in your country, state, city, or other governmental area, regarding
                online conduct and acceptable content, and including all applicable laws regarding the transmission of
                technical data exported from the country in which this website resides or the country in which you reside) and
                (ii) your use of the Website or Service will not infringe or misappropriate the intellectual property rights
                of any third party.
            </p>
        </div>
    </section>

{% endblock %}