{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Rewards and feedback</strong></h1>
        </div>
    </section>

    <section id="one" class="main style1">

        <div class="container">

            <header class="major special">
                <h2>Reward Model</h2>
            </header>

            <p>
                Each organization comes with a specific token, that is used to represent ownership. At its beginning,
                a specific number of tokens is generated. Additional tokens can be created at each user registration. <br />
                Those tokens are firstly used to fund the projects of the organization, according to a vote of the
                organization's members. Once a project is funded, its budget can be spread amongst various tasks.
                When a members achieves one, he is therefore rewarded with the attached number of tokens. <br />
                Moreover, a project can have a number of "jobs", that are similar to the jobs one can have in a company.
                Linked to a specific number of responsibilities, jobs come with a monthly reward, that is given to
                the members who holds them. <br />
                When the organization generates benefits, they can be redistributed to all its members according to the
                work they made. The way the repartition is made is part of the organization's rules, so it is known to
                all. For instance, members who did not contribute to the platform could be granted nothing while members
                who did contributed would; or all the members could share the same reward.<br />
            </p>

        </div>

        <div class="container">

            <header class="major special">
                <h2>Granting constructive feedback</h2>
            </header>

            <p>
                Giving tokens can be a good way or rewarding the users; however, it does not necessarily helps them
                getting better at what they do, and cannot judge how good was their work: only if it has been made.<br />
                Therefore, when a user submits a task for approval, the supervisor has to give him or her feedback, and
                face three choices:
            </p>
            <ul>
                <li>
                    Reject the submission, in which case he or she must specify what is wrong with the assignee's work
                </li>
                <li>
                    Simply accept the submission, in which case he or she can specify what the user could have done
                    better.
                </li>
                <li>
                    Praise the assignee for his or her work. In this case, an additional "bonus" reward can be granted
                </li>
            </ul>

            <p>
                By setting up, in the organization, such a culture in which feedback is required, dispassionate and
                constant, it is possible to easily increase the overall efficiency, increase the exchanges of its
                members, and the trust each one can have in the other; for they all depend on one another.
            </p>

        </div>

    </section>

{% endblock %}