{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Treviz Instances</strong></h1>
            <p>Browse the various instances of Treviz that already exists, or add your own to be referenced.</p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Browse</a></li>
            </ul>
        </div>
    </section>

    <section id="one" class="main style1">

        <div class="container">
            <div>
                <h4>Submit a new instance</h4>
                <p>
                    You have set up your own instance of Treviz and want it to be displayed on this page? Simply
                    fill this form and submit it ! We will check out your website, and add it to this list.
                </p>
                {{ form_start(form) }}
                    <div class="row uniform 50%">
                        <div class="6u$ 12u$(xsmall)">
                            {{ form_row(form.name, { 'label': 'Instance name' }) }}
                        </div>
                        <div class="6u 12u$(xsmall)">
                            {{ form_row(form.description, { 'label': 'Description' }) }}
                        </div>
                        <div class="12u$">
                            {{ form_row(form.url, { 'label': 'Url' }) }}
                        </div>
                    </div>
                    <button class="button" style="margin-top: 12px;">Submit new instance</button>
                {{ form_end(form) }}
            </div>

            <h4>Existing instances</h4>

            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in instances %}
                    <tr>
                        <td>{{ instance.name }}</td>
                        <td>{{ instance.url }}</td>
                        <td>{{ instance.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>



{% endblock %}