<section id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/trevizxyz" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://gitlab.com/treviz" class="icon alt fa-gitlab"><span class="label">Gitlab</span></a></li>
        <li><a href="mailto:bastien@treviz.xyz" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>© 2019 Treviz</li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/privacy-notice">Privacy Notice</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
        <li>Photos: <a href="https://www.pexels.com/photo/people-meeting-workspace-team-7097/">Startup Stock Photos</a></li>
        <li>Design: <a href="https://html5up.net/photon/">HTML5 UP</a></li>
    </ul>
</section>